/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */



:root {
    font-size: 32px;
}

.wjs-ui-check {
    position: relative;
    background: linear-gradient(90deg, #f19af3, #f099b5);
    line-height: 0;
    perspective: 400px;
}

.wjs-ui-check input[type="checkbox"],
.wjs-ui-check label,
.wjs-ui-check label::before,
.wjs-ui-check label::after,
.wjs-ui-check {
    appearance: none;
    display: inline-block;
    border-radius: 1rem;
    border: 0;
    transition: .35s ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
}

.wjs-ui-check label {
    width: 2.2rem;
    height: 1rem;
    background: #d7d7d7;
    overflow: hidden;
}

.wjs-ui-check input[type="checkbox"] {
    position: absolute;
    z-index: 1;
    width: .8rem;
    height: .8rem;
    top: .2rem;
    left: .1rem;
    background: linear-gradient(45deg, #dedede, #ffffff);
    box-shadow: 0 6px 7px rgba(0, 0, 0, 0.3);
    outline: none;
}

.wjs-ui-check input[type="checkbox"]:checked {
    left: 1.3rem;
}

.wjs-ui-check input[type="checkbox"]:checked+label {
    background: transparent;
}

.wjs-ui-check input[type="checkbox"]:checked:before {
    content: none !important;
}

.wjs-ui-check label::before,
.wjs-ui-check label::after {
    content: "· ·";
    position: absolute;
    overflow: hidden;
    left: .15rem;
    top: .5rem;
    height: 1rem;
    letter-spacing: -.04rem;
    color: #9b9b9b;
    font-family: "Times New Roman", serif;
    z-index: 2;
    font-size: .6rem;
    border-radius: 0;
    transform-origin: 0 0 -.5rem;
    backface-visibility: hidden;
}

.wjs-ui-check label::after {
    content: "●";
    top: .65rem;
    left: .3rem;
    height: .1rem;
    width: .35rem;
    font-size: .2rem;
    transform-origin: 0 0 -.4rem;
}

.wjs-ui-check input[type="checkbox"]:checked+label::before,
.wjs-ui-check input[type="checkbox"]:checked+label::after {
    left: 1.55rem;
    top: .4rem;
    line-height: .1rem;
    transform: rotateY(360deg);
}

.wjs-ui-check input[type="checkbox"]:checked+label::after {
    height: .16rem;
    top: .55rem;
    left: 1.6rem;
    font-size: .6rem;
    line-height: 0;
}




/* Reset wjs-Select */
.wjs-select>select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #112E51;
    background-image: none;
}

/* Remove IE arrow */
.wjs-select>select::-ms-expand {
    display: none;
}

/* Custom wjs-Select */
.wjs-select {
    position: relative;
    display: flex;
    width: 14em;
    height: 2.4em;
    line-height: 3;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .25em;
}

.wjs-select>select {
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
}

/* Arrow */
.wjs-select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 0.7em;
    background: #CD2026;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

/* Transition */
.wjs-select:hover::after {
    color: #fff;
}